*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    color: black;
    background-color: rgba(192, 192, 192, 0.637);
}
.site-header{
    background-color:  rgb(56, 55, 55);
    color: aliceblue;
    padding: 1rem 0;
    text-align: center;
}